body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.todo-container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    margin-left: 5px;
}

li {
    margin: 10px 0;
}